<section>
  <h1>
    Features that help you <br />
    Tweet smarter.
  </h1>
  <div>
    <div class="card">
      <img
        src="../../../assets/emoji_chart_increasing.png"
        alt=""
      />

      <h3>Analytics</h3>
      <p>
        We constantly monitor your audience as it grows - so
        you can Tweet when your followers are most likely to
        be online and ready to engage with your content.
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/emoji_nerd.png" alt="" />
      <h3>Smart Analyzer</h3>
      <p>
        Chirp automatically recognizes your followers' most
        active times and automatically sends you
        notifications if you're missing out on an
        opportunity.
      </p>
    </div>
    <div class="card">
      <img
        src="../../../assets/emoji_newspaper.png"
        alt=""
      />

      <h3>Scheduled Your Tweets</h3>
      <p>
        Quality tweets drive tons of engagement. With Chirp,
        you can write tweets in an advance and schedule them
        when your audience is most likely to read.
      </p>
    </div>
    <div class="card">
      <img src="../../../assets/emoji_dark.png" alt="" />
      <h3>Dark Mode</h3>
      <p>
        Friendly on the eyes, no matter what time you write
        your Tweets. All colors are chosen to make sure your
        eyes are at ease at all times.
      </p>
    </div>
  </div>
</section>
