@import '../../../variables';
footer {
  background: $blue-background-color;
  padding: 40px 100px 40px 100px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    //  padding: 20px 150px 20px 150px;
    div {
      display: flex;

      .footer-title {
        color: $blue-color;
        font-weight: 600;
        font-style: oblique;
      }

      a {
        align-self: center;
        padding: 0px 10px;
        text-decoration: none;
        color: #000;
        font-size: 20px;
      }
    }
  }
}
