@import '../../../variables';

section {
  background-color: $light-beige-background-color;
  .content {
    padding: 10px 100px;
    display: flex;
    border: 1px solid blue;

    @media screen and(max-width:$medium) {
      padding: 0px 50px;
      flex-direction: column;
      border: 1px solid green;
    }
    @media screen and(min-width:$large) {
      padding: 10px 150px;
      border: 1px solid red;
    }

    .main-info {
      padding-top: 50px;

      h1 {
        font-size: 35px;
      }
      p {
        padding-top: 10px;
        font-size: 15px;
        color: $grey-font-color;
      }
      .btns {
        display: flex;
        align-items: center;

        font-weight: bold;
        .twitter-btn {
          height: 40px;
          display: flex;
          align-items: center;
          color: white;
          font-weight: bold;
          background: $blue-color;
          padding: 0px 20px;
          border-radius: 5px;

          img {
            margin-right: 10px;
          }
        }
        .arrow-btn {
          font-weight: bold;
          margin-left: 20px;
          color: $learn-more;
        }
      }
      .pictures {
        img {
          margin-left: -20px;
          &:first-child {
            margin-left: 0px;
          }
        }
      }
    }
    .graphics-info {
      div {
        width: 500px;
        height: 700px;
        background: url('../../../assets/hero-img-desktop.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
      }
      margin-bottom: 50px;
    }
  }
}
