<section>
  <div class="content">
    <div class="graphics-info">
      <div></div>
    </div>
    <div class="main-info">
      <h1>Twitter analytics taken to a whole new level.</h1>
      <p>
        Chirp is a suite of Twitter analytics that will help
        you better understand your audience, which tweets
        they like, and most importantly, when they are most
        active on Twitter.
      </p>

      <div class="btns">
        <button class="twitter-btn">
          <img src="../../../assets/Twitter.svg" alt="" />
          Sign in with Twitter
        </button>
        <button class="arrow-btn">Learn more➔</button>
      </div>
      <div class="pictures">
        <img
          src="../../../assets/userAvatar09.svg"
          alt=""
        />
        <img
          src="../../../assets/userAvatar08.svg"
          alt=""
        />
        <img
          src="../../../assets/userAvatar07.svg"
          alt=""
        />
        <img
          src="../../../assets/userAvatar06.svg"
          alt=""
        />
        <img
          src="../../../assets/userAvatar05.svg"
          alt=""
        />
        <img
          src="../../../assets/userAvatar04.svg"
          alt=""
        />
        <img
          src="../../../assets/userAvatar03.svg"
          alt=""
        />
        <img
          src="../../../assets/userAvatar02.svg"
          alt=""
        />
        <img
          src="../../../assets/userAvatar01.svg"
          alt=""
        />
      </div>
      <p>
        Join <span>195</span> others who have analyzed their
        followers and scheduled <span>1342</span> tweets
      </p>
    </div>
  </div>
</section>
