<section>
  <nav>
    <a class="title" href="">Chirp.</a>
    <div class="options">
      <a href="">Home</a>
      <a href="">Pricing</a>
      <a href="">FAQ</a>
      <button class="twitter-btn">
        <img src="../../../assets/Twitter.svg" alt="" />
        Sign in with Twitter
      </button>
    </div>

    <div class="menu-btn">
      <button (click)="toggle()">
        <img
          src="../../../assets/HamburgerMenu.svg"
          alt=""
        />
      </button>
    </div>
  </nav>
  <div class="hidden-options" *ngIf="show">
    <a href="">Home</a>
    <a href="">Pricing</a>
    <a href="">FAQ</a>
  </div>
</section>
