@import '../../../variables';

.flex-container {
  display: flex;
  margin: 40px 70px;

  flex-direction: row;
  justify-content: space-between;
  // border: 1px solid red;
  align-items: center;

  .head-title {
    color: $blue-color;
    font-weight: 600;
    font-style: oblique;
    font-size: 20px;
  }

  .wrapped {
    display: flex;
    justify-content: space-between;

    button {
      font-size: 13px;
      height: 40px;
      margin: 1px;
      padding: 0px 16px;
      align-items: center;
      text-align: center;
      //border: 1px solid red;

      &:nth-last-child(1) {
      }
    }
    .twitterBtn {
      display: flex;
      color: white;
      background: $blue-color;
      padding: 0px 20px;
      img {
        margin-right: 5px;
      }
    }
  }
}
