@import '../../../variables';

section {
  padding: 20px 15px;
  nav {
    display: flex;
    justify-content: space-between;
    div {
      //   display: none;
    }

    a {
      text-decoration: none;
    }
  }
}
