<section>
  <div class="content">
    <div class="title">
      <h1>One simple price plan.</h1>
      <p>
        Start growing your Twitter account by analyzing your
        follower's patterns.
      </p>
    </div>
    <div class="price-plan">
      <div class="price">
        <p>Monthly</p>
        <br />

        <p><b>$9</b> /mo</p>
      </div>
      <hr />
      <div>
        <p>
          <img src="../../../assets/Checkmark.svg" alt="" />
          Unlimited* scheduled tweets and threads.
        </p>
        <p>
          <img src="../../../assets/Checkmark.svg" alt="" />
          Schedule up to 3 weeks in advance.
        </p>
        <p>
          <img src="../../../assets/Checkmark.svg" alt="" />
          Real-time audience analytics tracking up to 5k
          followers.
        </p>
      </div>
      <hr />
      <button class="twitter-btn">
        <img src="../../../assets/Twitter.svg" alt="" />
        Start Trial with Twitter
      </button>
    </div>
  </div>
</section>
